h1{
  margin: 20px 0px;
}

table{
  width:100%;
}

button{
  border-radius: 15px;
  border: 0px solid #555555;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 16px ;
  padding:0px;
  margin:5px;
}

.btn-primary{
  outline: none;
}

.btn-danger{
  outline:none;
}

mat-icon{
  margin-top: 3px;
}

.action_container{
  text-align: right;
  width:min-content;
  overflow: auto;
}

.invite{
  margin: 5px 0px;
}