<form class="myForm"
      (submit)="modifierPersonnel(mail.value, nTel.value, personnelServerSideCtrl.value)">
  <h1>Modifier un personnel</h1>

  <h3>Chercher un personnel par nom ou prenom</h3>
  <p>
    <mat-form-field>
      <mat-select [formControl]="personnelServerSideCtrl" placeholder="Bank">
        <mat-option>
          <ngx-mat-select-search [formControl]="personnelServerSideFilteringCtrl" [searching]="searching"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let personnel of filteredServerSidePersonnel | async" [value]="personnel">
          {{personnel.nom}} {{'    ' + personnel.prenom}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <label>Adresse e-mail du personnel :</label>
  <input type="text" matInput class="myInput" [value] = 'personnelServerSideCtrl?.value?.mail' #mail>
  <br><br>

  <label>Numéro de téléphone :</label>
  <input type="text" matInput class="myInput" [value] = 'personnelServerSideCtrl?.value?.ntel' #nTel>
  <br><br>

  <label>Fonction :</label> <br>
  <mat-select class = "myInput" [formControl]="fonctions" [(value)]="selectedFonction">
    <mat-option selected disabled value="0">Fonction</mat-option>
    <mat-option *ngFor="let fonction of fonctionList" [value]="fonction">{{fonction}}</mat-option>
  </mat-select>

  <br><br><br>
  <button type="submit" class="btn-primary">Modifier un personnel</button>

</form>
