<form class="myForm">
  <h1>Affecter un résident </h1>
  <label>Choisir un résident :</label>
  <mat-select [formControl]="residents" class = "myInput" [(value)]="selectedResident">
    <mat-option *ngFor="let resident of residentList" [value]="resident" >{{resident}} </mat-option>
  </mat-select>
  <br><br>
  <label>Choisir une unité :</label>
  <mat-select [formControl]="unites" class = "myInput" [(value)]="selectedUnite">
    <mat-option *ngFor="let unite of uniteList" [value]="unite" >{{unite}}</mat-option>
  </mat-select>
  <br><br>
  <label>Choisir un responsable :</label>
  <mat-select [formControl]="unites" class = "myInput" [(value)]="selectedPersonnel">
    <mat-option *ngFor="let personnel of personnelList" [value]="personnel" >{{personnel}}</mat-option>
  </mat-select>
  <br><br><br>
  <button (click)="affecterResident()" class="btn-primary">Affecter résident à l'unité</button>

</form>
