<form class="myForm"
      (submit)="ajouterPersonnel(nom.value, prenom.value,mail.value, nTel.value,login.value,password.value )">
  <h1>Ajouter un personnel</h1>
  <label>Nom :</label>
  <input matInput class="myInput" #nom>
  <br><br>

  <label>Prénom :</label>
  <input matInput class="myInput" #prenom>
  <br><br>

  <label>Adresse e-mail :</label>
  <input type="text" matInput class="myInput" #mail>
  <br><br>

  <label>Numéro de téléphone :</label>
  <input type="text" matInput class="myInput" #nTel>
  <br><br>

  <label>Fonction :</label> <br>
  <mat-select class = "myInput" [formControl]="fonctions" [(value)]="selectedFonction">
    <mat-option selected disabled >Fonction</mat-option>
    <mat-option *ngFor="let fonction of fonctionList" [value]="fonction">{{fonction}}</mat-option>
  </mat-select>

  <label>Username :</label>
  <input type="text" matInput class="myInput" #login>
  <br><br>

  <label>Password :</label>
  <input type="password" matInput class="myInput" #password>
  <br><br>

  <br><br><br>
  <button type="submit" class="btn-primary">Ajouter un personnel</button>

</form>
