.header{
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    min-width: 120px;
}

.action-buttons {
    display: flex;
    align-items: center;

    button {
        margin: 5px;
        height: 35px;
    }
}