<h1 style="text-align: center;">Consulter Résidents</h1>
<mat-form-field>
  <mat-label>Filtrer les Residents </mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<div class="example-container mat-elevation-z8">
<div *ngIf="dataSource">
  <mat-table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row ; columns: displayedColumns" (click)="navigateToProfile(row.idResident)"></mat-row>


    <ng-container matColumnDef="idResident">
      <mat-header-cell *matHeaderCellDef mat-sort-header>idResident</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row?.idResident}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>nom</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nom}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="prenom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>prenom</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row?.prenom}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="statut">
      <mat-header-cell *matHeaderCellDef mat-sort-header>statut</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row?.statut}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="datenaissance">
      <mat-header-cell *matHeaderCellDef mat-sort-header>datenaissance</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row?.datenaissance | date}}</mat-cell>
    </ng-container>
  </mat-table>

  <mat-paginator
    [length]="residentResult?.totalElements"
    [pageSize]="residentResult?.numberOfElements"
    [pageSizeOptions]="[5,10,25,100]"
    (page)="pageEvent = $event; onPaginateChange($event)"
    showFirstLastButtons>
  </mat-paginator>
</div>
</div>
