<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div mat-dialog-content>
  <p>Choisir un choisir </p>
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput type="text" [(ngModel)]="data.nom">
  </mat-form-field>

  <mat-form-field>
    <mat-label>PRENOM</mat-label>
    <input matInput type="text" [(ngModel)]="data.prenom">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button class="btn-primary"(click)="onNoClick()">Annuler</button>
  <button mat-button class="btn-primary" cdkFocusInitial>Choisir</button>
</div>
