<div class="header">
  <h1>Unités</h1>
  <button type="button" class="btn btn-primary" (click)="goToUnitCreation()">Créer unité</button>
</div>

<div class="row">
  <div class="col-12 col-md-4" style="padding: 5px" *ngFor="let unite of unites">

    <div class="unite-card" (click)="goToUnit(unite.idUnite)">
      <div class="unite-card-header">
        <h3 class="h4 mt-0">{{ unite.nom }}</h3>

        <p class="covid" *ngIf="unite.etat=='Contagieuse COVID'; else elseBlock">COVID</p>
        <ng-template #elseBlock><p>{{unite.etat}}</p></ng-template>

      </div>

      <p></p>
    </div>
  </div>
</div>
