.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
button {
    height: 35px;
}

.unite-card {
    padding: 15px;
    background-image: linear-gradient(to right, white, rgb(235, 235, 235));
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
}

.unite-card-header {
    display:flex;
    justify-content: space-between;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.covid{
    color: red;
}