<form class="myForm" (submit)="modifierPersonnel(mail.value, nTel.value)">
  <h1>Modifier un personnel</h1>

  <label>Adresse e-mail du personnel :</label>
  <input type="text" matInput class="myInput" #mail>
  <br><br>

  <label>Numéro de téléphone :</label>
  <input type="text" matInput class="myInput" #nTel>
  <br><br>

  <label>Fonction :</label> <br>
  <mat-select class = "myInput" [formControl]="fonctions" [(value)]="selectedFonction">
    <mat-option selected disabled value="0">Fonction</mat-option>
    <mat-option *ngFor="let fonction of fonctionList" [value]="fonction">{{fonction}}</mat-option>
  </mat-select>

  <br><br><br>
  <button type="submit" class="btn-primary">Modifier un personnel</button>

</form>
