<form class="myForm">
  <h1> Déclarer résident </h1>
  <label>Choisir un résident : </label>
  <mat-select [formControl]="residents" class = "myInput" [(value)]="selectedResident">
    <mat-option *ngFor="let resident of residentList" [value]="resident" >{{resident.nom}} {{resident.prenom}}</mat-option>
  </mat-select>
  <br><br>
  <button class='btn-primary' (click)="associerResident()">S'associer au résident choisi</button>
  <br><br>
  <span *ngIf="selectedResident != null && selectedResident.associe == true"> Vous avez sélectionner un resident qui est dèja associé à un autre personnel! </span>
</form>

