<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">

              <div class="card-body">
                <div class="card-title">
                  <h2>Sign in with social account</h2>

                </div>

                <!--Twitter-->
                <a class="btn btn-block btn-social btn-twitter">
                  <span class="fa fa-twitter"></span> Sign in with Twitter
                </a>
                <!--Twitter-->
                <a class="btn btn-block btn-social btn-google-plus">
                  <span class="fa fa-google"></span> Sign in with Google
                </a>

                <a class="btn btn-block btn-social btn-facebook">
                  <span class="fa fa-facebook"></span> Sign in with Facbook
                </a>

              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>StillCare! keep in touch with your parents</h2>
                  <img src="/assets/img/brand/homecare.svg" alt="image" width="50%" height="50%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
